.input-icons {
  width: 100%;
  margin-bottom: 10px;
  display: grid;
  position: relative;
}
.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}
.iconButton {
  outline: none;
  border: unset;
  cursor: pointer;
  background-color: white;
}
